/*Base style or mobile device*/
*{
	box-sizing: border-box;
}

.header{
	font-size: 30px;
	width: 280px;
	margin: auto;
}

.row{
	width: 100%;
	height: 250px;
}


.col-sm{
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	height:100%;
}

.block{
	border-radius: 10px;
	padding: 8px;
	height: 100%;
	background-color: lightblue;
	width: 95%;
	margin: auto;
	border: 1px solid black;
	overflow: auto;
}

.content{
	clear: both;
	margin: 5px;
}
.sub{
	float: right; 
	font-size: 20px;
	background-color: lightcyan;
	border-radius: 10px;
	padding: 8px;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-top: 0px;
}



/*Desktop device*/
@media (min-width: 992px) {
	.col-lg{
		width: 33.3%;
		float: left;
	}
}

/*Medium device*/
@media (min-width: 768px) and (max-width: 991px){
	.col-md:nth-child(1), .col-sm:nth-child(2){
		width: 50%;
		float: left;
	}

	.col-md:nth-child(3){
		clear:both;
		width: 100%;
	}

	.blockX{
		width: 97.78%;
	}
}



